{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 20px;">
        <div class="card shadow" style="padding:10px">
            <div class="row">
                <div class="col-10">
                    <h3>{{object.title | upper}}</h3>
                </div>
                
                <div class="col-2">
                    <h6>{{object.date_of_creation}}</h6>
                    <h6>{{object.author.username}}</h6>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <p>{{object.content}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock%}